/** HEADER **/
body {
background-color: #d3d3d3;
}
h1 {
margin:0;
font-size: 1em;
border-bottom: 1px white solid;
width: 40%;
text-align: right;
padding-top: 50px;
}

h2 {
text-transform: capitalize;
border-bottom: 1px;
}
.header {
  display: block;
  margin-top: 0;
  margin-left:5%;
  margin-right: 5%;
  padding-left: 30px;
  padding-right:15px;
  border: 1px;
  background-color: black;
  color: white;
  height:120px;
  font-family: sans-serif;
  width:fixed;
  text-transform: uppercase;
  clear:both;
}

/** BODY **/

.big-box {
height: 100%;
width: 72%;
float:left;
margin-left: 5%;
margin-top: 2%;
margin-right: 2%;
}
/** content **/
.side-bar {
border-color: black;
border-style: solid;
border-width: 1px;
height: 100%;
width: 15%;
float: right;
margin-right: 5%;
margin-top: 2%;
border-top-width: 10px;
background-color: #fff;
}
/** content **/
 .top {
   border-color: black;
   border-style: solid;
   border-width: 1px;
   width:100%;
   float: left;
   border-top-width: 10px;
   background-color: white;
}
.image {
 padding: 3%;
}

}

.medium-box {
  width: 100%;
  margin-top: 2%;
  float:left;
 }
.little-box {
  width: 48%;
  float:left;
}
/** content **/
.right-box {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 48%;
  float: right;
  border-top-width: 10px;
  background-color: white;
}
/** content **/
.left-box-one {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  border-top-width: 10px;
  background-color: white;
}
/** content **/
.left-box-two {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  margin-top: 5%;
  border-top-width: 10px;
  background-color: white;
}
